@model IEnumerable<Customer.Web.DTOs.OrderDto>

@{
    ViewData["Title"] = "List of Orders";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Place Order</a>
</p>
<table class="table">
    <thead>
        <tr bgcolor="#0d9ee0">
        
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr bgcolor="#7bd1db">
          
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Change Details", "Edit", new {  id=item.OrderId}) |
                @Html.ActionLink("Details", "Details", new { id=item.OrderId  }) |
                @Html.ActionLink("Cancel Order", "Delete", new { id=item.OrderId  })
            </td>
        </tr>
}
    </tbody>
</table>
